
<section class="text-center">


  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: 50px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Log in</h2>
          <form action="/login" method="POST">

            <div class="form-outline mb-4">
              <input type="email" name="email" class="form-control" />
              <label class="form-label">Email address</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" name="password" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">
              Log in
            </button>
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
          </form>
          <p>Don't have an account? <a href="/signup" class="link-info">Register here</a></p>

        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
</section>




