body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Hide the carousel by default */
.homepage-carousel {
  display: none;
}

/* Display the carousel on the homepage */
body.homepage .homepage-carousel {
  display: block;
}
.carousel-inner {
  border-image-width: 400px;
}


header.container {
  width: 100%;
  background-color: #6b6b6b; /* Change this to your desired background color */
  text-align: center;
  padding: 12px 0;
}

.navbar-brand {
  color: rgb(0, 0, 0); /* Change the text color */
  font-size: 24px; /* Adjust the font size */
  font-weight: bold;
  text-decoration: none;
}

nav {
  background-color: #f8f9fa; /* Change this to your desired background color */
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

nav a {
  color: #333; /* Change the link text color */
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px; /* Adjust the font size */
  font-weight: bold;
}

nav a:hover {
  color: #007BFF; /* Change the link color on hover */
}



