body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Hide the carousel by default */
.homepage-carousel {
  display: none;
}

/* Display the carousel on the homepage */
body.homepage .homepage-carousel {
  display: block;
}
.carousel-inner {
  border-image-width: 400px;
}

/* Custom CSS for smoother carousel movement */
.carousel-inner {
  transition: transform 0.5s ease-in-out;
}

/* Optional: Adjust the slide transition speed */
.carousel-item {
  transition: transform 0.5s ease-in-out;
}

/* Customize carousel indicators */
.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators li {
  background-color: #007BFF; /* Change indicator background color */
  border: 1px solid #fff; /* Change indicator border color */
}

.carousel-indicators li.active {
  background-color: #fff; /* Change active indicator background color */
}

/* Customize carousel control buttons */
/* .carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Change button background color */
  /* border-radius: 5%; /* Make the buttons round */
  /* padding: 5px; /* Increase button size */


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #fff; /* Change button icon color */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Change button background color on hover */
}


header.container {
  width: 100%;
  background-color: #6b6b6b; /* Change this to your desired background color */
  text-align: center;
  padding: 12px 0;
}

.navbar-brand {
  color: rgb(0, 0, 0); /* Change the text color */
  font-size: 24px; /* Adjust the font size */
  font-weight: bold;
  text-decoration: none;
}

nav {
  background-color: #f8f9fa; /* Change this to your desired background color */
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

nav a {
  color: #333; /* Change the link text color */
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px; /* Adjust the font size */
  font-weight: bold;
}

nav a:hover {
  color: #007BFF; /* Change the link color on hover */
}

.car-image {
  width: 200px; /* Set your desired width here */
  height: 150px; /* Set your desired height here */
}

