<h2>Create a Car</h2>


<form method="POST" action="/cars/create">
    <label> Model:
        <input type="text" name="model" />
    </label>

    <label> Image:
            <input type="text" name="image">
    </label>

    <label> Price:
        <input type="number" name="price"/>
    </label>

     <label> Seller:
            <input type="text" name="seller">
    </label>

    <label> Registration:
             <input type="number" name="registration">
    </label>

    <label> KM driven:
             <input type="number" name="kmDriven">
    </label>
    
    <label> Transmission:
            <input type="text" name="transmission">
    </label>

    <label> Power:
             <input type="number" name="power">
    </label>

    <label> location:
            <input type="text" name="location">
    </label>

    <button type="submit"> Create </button>
</form>