<h2>Create a Car</h2>


<form method="POST" action="./car-create.hbs">
    <label> Make:
        <input type="text" name="make" />
    </label>

    <label> Model:
        <select name="author">
            {{#each model}}
                <option value={{this._id}}>{{this.name}} multiple </option>
            {{/each}}
        </select>
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4"> </textarea>
    </label>

    <label> Rate:
        <input type="number" name="rating" min="1" max="10" />
    </label>

    <button type="submit"> Create </button>
</form>